<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Forgot your password?</h1>
    </div>
  </div>
  <div class="panel-body">

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="col-xs-4">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", :autofocus => true %>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>

      <div class="pw-reset">
        <div class="form-group">
          <%= f.submit "Send reset instructions", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
